	.premium{
		margin:70px auto;
		text-align:center;
		box-shadow: 0px 0px 80px #CCC;
		padding:60px 0px;
	}
	.premium h4{
		font-size:20px;
		font-weight:bold;
		line-height:30px;
	}
	.premium h4 a{
		color:red;
		text-decoration:none;
		background-color:transparent;
	}
	.premium a{
		border-radius:10px;
		font-weight:bold;
		font-size:16px;
	}
