@font-face{
    font-family:Montserrat-Black;
    src:url('https://cdn.jsdelivr.net/gh/jyumino/assets@main/ramadan/fonts/Montserrat-Black.ttf');
}
@font-face{
    font-family:Montserrat-Bold;
    src:url('https://cdn.jsdelivr.net/gh/jyumino/assets@main/ramadan/fonts/Montserrat-Bold.ttf');
}
@font-face{
    font-family:Montserrat;
    src:url('https://cdn.jsdelivr.net/gh/jyumino/assets@main/ramadan/fonts/Montserrat-Regular.ttf');
}
